{{#if home}}
<div class="row justify-content-center align-items-md-stretch">
          <div class="col-md-6 h-100 w-100">
{{/if}}

<main>
          {{#if news}}

                    <div class='container-fluid px-4'>
                    <div class='bg-dark row gx-5 gy-3'>
                              
                              {{#each newsList}}
                              
                              <div class='col-md-6 text-align-center position-relative bg-dark me-auto justify-content-center text-light rounded-3 newsItem'>
                                        <div class='row p-1 border bg-light rounded-3 newsItemSelected newsItemContainer'>
                                                
                                                  {{#if newsImgSrc}}
                                                  <figure class='figure newsFigure'>
                                                            <img class='figure-img img-fluid rounded  newsItemImgAnchor'  src={{newsImgSrc}}>
                                                          
                                                            <figcaption class='newsCaption text-light'>
                                                                      <div class='row figureRow'>
                                                                                
                                                                                <div class='col rounded-2 newsHeadline'>
                                                                                          <p class="text-break newsItemText">{{newsHeadline}}</p>
                                                                                          <p class='text-break newsItemDate'>{{newsDate}}</p>
                                                                                </div>
                                                                                <div class='col-sm-2 rounded-2 newsReadMore'>
                                                                                          <a id='newsReadMoreAnchor' href={{newsLink}}>
                                                                                
                                                                                                    <img class='animateButtonForward rounded' width='24' height='32' src={{readMoreImgSrc}}>
                                                                                                   
                                                                                          </a>
                                                                                </div>
                                                                      </div>
                                                                      
                                                            </figcaption>
                                                  </figure>
                                                
                                                 
                                                  {{/if}}
                                                 
                                        </div>
                              </div>
                              
                    {{/each}}  
                  
          
        
          {{/if}}
</div>

          {{#if home}}

          </div>
          </div>
          {{/if}}
         
          {{#if media}}
          <div id='main-media-container' class='container-fluid bg-dark bg-light'>
                    <div class='row g-2 justify-content-center'>
                              {{#each mediaList}}
                              <div class="col-sm-8 rounded-2">
                                        <h1 id='mediaHeadline'>{{mediaTitle}}</h1>
                                        <a href='#'>
                                        <div class="d-flex p-3 border justify-content-evenly rounded-2 bg-dark mediaItem">
                                                 
                                                  {{{mediaItem}}}
                                                  
                                        </div>
                                        </a>
                              </div>
                             
                           
                    {{/each}}
                    </div>
          </div>
          {{/if}}

          {{#if home}}
          <div id='home-container' class='container'>
                    <div class='row g-2 justify-content-space-between align-items-center bg-dark'>
                              
                              
                              <div id='headlines-row' class='row'>
                                        <div class='col-2'> <h2 style='color:var(--bs-dark); display:inline-block'></h2> </div>
                              <div class='col-8'><h2 style='color:var(--bs-dark); display:inline-block'></h2></div>
                              
                              
                              <div class='col-2'><h2 style='color:var(--bs-dark); display:inline-block'></h2></div>
                              </div>
                              <div id='left-main-col' class='col-md-2' >
                                        <div class='row p-3'>
                                                  {{#each leftList}}
                                                  
                                                  <div id='leftItem' class='col mb-5'>
                                                            
                                                            <div class="card rounded-4  bg-light">
                                                                      <img src={{leftItemImg}} alt={{leftItemImgAltTxt}} class='rounded-2 leftItemImg'>
                                                                      <div class="card-body">
                                                                     
                                                                                {{#itemContent}}
                                                                                {{{item}}}
                                                                                {{/itemContent}}
                                                                      </div>
                                                                      
                                                            
                                                            
                                                            </div>
                                                  </div>
                                                  
                                                  
                                        
                                        {{/each}}
                              </div>
                                        
                              </div>
                              
                              <div id='centre-main-col' class='col-md-8'>
                                                  
                                                           
                                                  <div class='row p-2'>
                                                  {{#each mainList}}
                                                  
                                                 <div id='mainItem' class='col-sm-6 align-items-center news-col'>
                                                            {{{mainListItem}}}
                                                  
                                                  </div>
                                                  
                                                  {{/each}}
                                                  {{#each anchorItems}}
                                                  <div id='mainItem' class='col-sm-6 align-items-start news-col'>
                                                  <div class='row'>
                                                            <div class='col-12 align-content-center'>
                                                                      
                                                                      <h2 class='centreAnchorItemText'>{{{anchorText}}}</h2>
                                                                      
                                                                      <a class='centreAnchorItem'href={{anchorRef}}><img class='centreAnchorImg' src='{{anchorUrl}}'></a>
                                                            </div>
                                                            
                                                  </div>
                                                  </div>
                                                  {{/each}}
                              </div>
                              </div>
                              <div id='right-main-col' class='col-sm-2 ms-0'>
                              
                                        {{#each rightList}}
                                        <div class='row p-3'>
                                                  <div class='col-sm-6 align-self-center'>
                                                  <div id="rightItem" class="card" style="width: 18rem;">
                                                            
                              <div class="card-body">
                                        <h5 class="card-title">{{rightItemTitle}}</h5>
                              <img width={{imgWidth}} height={{imgHeight}} src={{rightItemImg}} class="card-img-top" alt={{rightItemImgAltTxt}}>
                                        {{#itemContent}}
                              {{{item}}}
                              {{#if calendar}}
                              <div class='row'>
                                        <div id='calendarHeadMonth'class='calendarHead col'>Month</div>
                                        <div id='calendarHeadYear'class='calendarHead col'>Year</div>
                                        <div id='calendarHeadAge' class='calendarHead col'>Age</div>
                              </div>
                              {{#calendarItemDetails}}
                              <div class='row'>
                                                  
                              <div class='col-sm-12'>
                                        <div class='row'>
                                                  <div class='col-12 mt-2 border-top border-dark calendarItemDate'>
                                                  
                                                            {{calendarItemDate}}
                                                  
                                                  </div>
                                                  <div class='col-12 border-bottom border-dark  calendarItemInfo'>
                                                            {{calendarItemInformation}}
                                                  </div>
                                                  
                                        </div>
                              
                              
                              </div>
                              </div>
                              {{/calendarItemDetails}}

                                        <div class='row'>
                                                  <div class='col-sm-12 mt-5'>
                                                            Next event
                                                  <div class='col border-top border-dark '>
                                                            {{calendarNextEvent}}
                                                  </div>
                                                  </div>    
                                        <div class='col-sm-12 mt-5'>
                                                  Past event
                                                  <div class='col border-top border-dark'>
                                                            {{calendarPastEvent}}
                                                  </div>
                                        </div>

                                        </div>
                              {{/if}}
                    {{/itemContent}}
                                                            </div>

                                                  </div>
                                                  </div>
                                        </div>
                                        {{/each}}
                                        
                              </div>
                              

                              
                    </div>
                    
          </div>

          <!-- JOIN US -->
        
          
          {{/if}}
          {{#if join}}
          <div class="h-100 w-100 p-5 text-white bg-dark rounded-1">
                    <h2>{{title}}</h2>
                    <p>{{welcomeText}}
                    </p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Join!
                    </button>
          
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                        <div class="modal-content">
                                                  <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                      aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                            <form action="">
                                                                      <label for="fname">First name:</label>
                                                                      <input type="text" id="fname" name="fname"><br><br>
                                                                      <label for="lname">Last name:</label>
                                                                      <input type="text" id="lname" name="lname"><br><br>
                                                                      <input type="submit" value="Submit">
                                                            </form>
          
                                                            <p>Click the "Submit" button to complete your application form.</p>
          
                                                  </div>
                                                  <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                      data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary">Submit</button>
                                                  </div>
                                        </div>
                              </div>
                    </div>
          
          </div>
          {{/if}}
          

          {{#if results}}
          <div class='container-fluid bg-dark resultsContainer'>
                    <div class='row'>
                              <div class='col-12'>
                              <h2 class='text-light text-break'>Judo events and results</h>
                              <h3 class='text-primary text-break'>Latest</h3>
                              </div>
                              
                                        
 

          <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                        <div class="modal-header">
                                                  <h5 class="modal-title text-dark" id="searchModal">More events and results</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                  <form class='needs-validation' novalidate>
                                                            <div class='container-fluid'>
                                                                      <div class='row'>
                                                                                <div class='col mb-1'>
                                                                                          <label for="generalQueryBox" class="col-form-label text-dark">Search for:</label>
                                                                                          <input type="text" class="form-control" id="generalQueryBox"  value='' required>
                                                                                          <div class='invalid-feedback'>Please enter a search query!</div>
                                                                                </div>
                                                                      </div>

                                                                      <div class='row'>
                                                            {{#each searchParams}}

                                                                     
                                                                      <div id='search-category-container' class='col-md-3'>
                                                                      
                                                            
                                                                                {{!-- <button class="select btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                                                          data-bs-toggle="dropdown" aria-expanded="false">
                                                                                          Category
                                                                                </button> --}}
                                                                                {{!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2"> --}}
                                                                                          <div class="input-group mb-3">
                                                                                                    <div class="input-group-prepend">
                                                                                                              <label class="input-group-text" for="inputGroupSelect01">Category</label>
                                                                                                    </div>
                                                                                                   
                                                                                                              
                                                                                                    
                                                                                          
                                                                                          <select class="custom-select" id="inputGroupSelect01">
                                                                                          {{#each categories}}
                                                                                                    <option value={{.}}type='button' class="dropdown-item">{{.}}</option>
                                                                                          {{/each}}
                                                                                          </select>
                                                                                {{!-- </ul> --}}
                                                                                </div>

                                                                                </div>
                                                                               
                                                                                
                                                                               

                                                                      <div id='search-month-container' class='col-md-3'>
                                                                      
                                                                      
                                                                                
                                                                                <div class="input-group mb-3">
                                                                                          <div class="input-group-prepend">
                                                                                                    <label class="input-group-text" for="inputGroupSelect01">Month</label>
                                                                                          </div>
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                          <select class="custom-select" id="inputGroupSelect01">
                                                                                                    {{#each months}}
                                                                                                    <option value={{.}}type='button' class="dropdown-item">{{.}}</option>
                                                                                                    {{/each}}
                                                                                          </select>
                                                                                          
                                                                                </div>
                                                                                          

                                                                                          
                                                                                         
                                                                                         
                                                                      
                                                                      </div>
                                                                      <div id='search-year-container' class='col-md-3'>
                                                                      
                                                                      
                                                                                <div class="input-group mb-4">
                                                                                          <div class="input-group-prepend">
                                                                                                    <label class="input-group-text" for="inputGroupSelect01">Year</label>
                                                                                          </div>
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                          <select class="custom-select" id="inputGroupSelect01">
                                                                                                    {{#each years}}
                                                                                                    <option value={{.}}type='button' class="dropdown-item">{{.}}</option>
                                                                                                    {{/each}}
                                                                                          </select>
                                                                                
                                                                                </div>
                                                                      </div>
                                                                      <div id='search-event-container' class='col-md-3'>
                                                                      
                                                                      
                                                                                <div class="input-group mb-3">
                                                                                          <div class="input-group-prepend">
                                                                                                    <label class="input-group-text" for="inputGroupSelect01">Types</label>
                                                                                          </div>
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                          <select class="custom-select" id="inputGroupSelect01">
                                                                                                    {{#each types}}
                                                                                                    <option value={{.}}type='button' class="dropdown-item">{{.}}</option>
                                                                                                    {{/each}}
                                                                                          </select>
                                                                                
                                                                                </div>
                                                                      </div>
                                                            {{/each}}

                                                                      </div>
                                                                      <div id='selected-search-params' class='row'>
                                                                                <div class='col-md-3'>
                                                                                          
                                                                                </div>
                                                                      </div>
                                                            </div>
                                                            <button onclick='form_validation()'type="submit" class="btn searchButton">Search</button>
                                                            <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                                  </form>
                                                  
                                                  </div>
                                                  {{!-- <div class="modal-footer">
                                                            
                                                            <button type="submit" class="btn searchButton">Search</button>
                                                  </div> --}}
                                        </div>
                                        
                              </div>
                    </div>
          </div>
                    </div>
                    <table class='table table-dark table-striped resultsTable'>
                              <thead>
                                        <tr>
                                                
                                        </tr>
                                        
                              </thead>
                              <tbody>
                                        
                    {{#each eventList}}
                    <tr class='underlineSelection'>
                    
                              <td>{{eventLocation}}</td>
                              <td>{{eventName}}</td>
                              <td>{{eventLinks}}</td>
                    </tr>
                               



                    {{/each}}
                    </tbody>    
                    </table>
          </div>
          <div class='col-12  bg-dark'>
          <button type="button" class="btn offset-sm-10 mt-2 mb-2 searchButton" data-bs-toggle="modal" data-bs-target="#searchModal"
                    data-bs-whatever="">Search</button>
                    </div>
          </div>
         
          {{/if}}
          
</main>
