{{#if home}}
<div class="row justify-content-center align-items-md-stretch">
          <div class="col-md-6 h-100 w-100">
{{/if}}

<main>
          {{#if news}}


          <div class='p-3 mg-2 bg-light text-dark row'>
                    <div id='left-news' class='col'>
                              <h2>Side News here</h2>
                              {{#each leftNewsList}}
                              <div class='row'>
                              
                              {{leftNewsItem}}
                              </div>
                              {{/each}}
                              
                    </div>

                    <div id='main-news' class='col-6'>
                              <h2>Main News here</h2>
                              {{#each centreNewsList}}
                              <div class='row'>
                              
                              {{centreNewsItem}}
                              </div>
                              {{/each}}
                    </div>
                    <div id='right-news' class='col'>
                              <h2>Side News here too</h2>
                              {{#each rightNewsList}}
                              <div class='row'>
                              {{rightNewsItem}}
                              </div>
                              {{/each}}
                    </div>
                 
          </div>
          {{/if}}
          {{#if media}}
          <div id='main-media-container' class='container-fluid bg-dark bg-light'>
                    <div class='row g-2 justify-content-center'>
                              <div class="col-md-6">
                                        <div class="d-flex p-3 border justify-content-evenly  bg-dark mediaItem">
                                                  {{{media1}}}

                                        </div>
                              </div>
                             
                              <div class="col-md-6">
                                        <div class="d-flex p-3 border justify-content-evenly  bg-dark mediaItem">
                                                {{{media2}}}
                              
                                        </div>
                              </div>
                    <div class="col-md-6">
                              <div class="d-flex p-3 justify-content-evenly border  bg-dark mediaItem ">
                                       {{{media3}}}
                    
                              </div>
                    </div>
                              <div class="col-md-6">
                                        <div class="d-flex p-3  justify-content-evenly border bg-dark mediaItem">
                                                  {{{media4}}}
                                        </div>
                              </div>
                    </div>
          </div>
          {{/if}}

          {{#if home}}
          <div id='home-container' class='container'>
                    <div class='row g-2 justify-content-center align-items-center bg-dark'>
                              
                              
                              <div id='headlines-row' class='row'>
                                        <div class='col-2'> <h2 style='color:var(--bs-dark); display:inline-block'></h2> </div>
                              <div class='col-8'><h2 style='color:var(--bs-dark); display:inline-block'></h2></div>
                              
                              
                              <div class='col-2'><h2 style='color:var(--bs-dark); display:inline-block'></h2></div>
                              </div>
                              <div id='left-main-col' class='col-md-2' >
                                        
                                        
                                        
                                        <div class='row p-3'>
                                                  {{#each leftList}}
                                                  
                                                  <div id='leftItem' class='col-12'>
                                                            <div class="card bg-transparent text-white">
                                                                      <img src={{leftItemImg}} class="card-img-top leftItemImg" alt={{leftItemImgAltTxt}}>
                                                                      <div class="card-body">
                                                                                {{!-- <h5 class="card-title">{{leftItemTitle}}</h5> --}}
                                                                                {{#itemContent}}
                                                                                {{{item}}}
                                                                                {{/itemContent}}
                                                                      </div>
                                                                      
                                                            
                                                            
                                                            </div>
                                                  </div>
                                                  
                                                  
                                        
                                        {{/each}}
                              </div>
                                        
                              </div>
                              
                              <div id='centre-main-col' class='col-md-8 {{centreOrder}}'>
                                                  
                                                           
                                                  <div class='row p-2'>
                                                  {{#each mainList}}
                                                  
                                                 <div id='mainItem' class='col-sm-6 align-items-center news-col'>
                                                            {{{mainListItem}}}
                                                  
                                                  </div>
                                                  
                                                  {{/each}}
                                                  {{#each anchorItems}}
                                                  <div id='mainItem' class='col-sm-6 align-items-center news-col'>
                                                  
                                                  <a href={{anchorRef}} style='display:inline-block; height:80%; width:80%; background-image:url({{anchorUrl}});'>{{anchorText}}</a>

                                                  </div>
                                                  {{/each}}
                              </div>
                              </div>
                              <div id='right-main-col' class='col-md-2 {{rightOrder}}'>
                              
                                        {{#each rightList}}
                                        <div class='row p-3'>
                                                  <div class='col-sm-6'>
                                                  <div id="rightItem" class="card ms-auto" style="width: 18rem;">
                                                            
                                                            <div class="card-body">
                                                                      <h5 class="card-title">{{rightItemTitle}}</h5>
                                                            <img width={{imgWidth}} height={{imgHeight}} src={{rightItemImg}} class="card-img-top" alt={{rightItemImgAltTxt}}>
                                                                     {{#itemContent}}
                                                                      {{{item}}}
                                                                     {{/itemContent}}
                                                            </div>

                                                  </div>
                                                  </div>
                                        </div>
                                        {{/each}}
                                        
                              </div>
                              

                              
                    </div>
                    
          </div>

          <!-- JOIN US -->
        
          
          {{/if}}
          {{#if join}}
          <div class="h-100 w-100 p-5 text-white bg-dark rounded-1">
                    <h2>{{title}}</h2>
                    <p>{{welcomeText}}
                    </p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Join!
                    </button>
          
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                        <div class="modal-content">
                                                  <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                      aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                            <form action="">
                                                                      <label for="fname">First name:</label>
                                                                      <input type="text" id="fname" name="fname"><br><br>
                                                                      <label for="lname">Last name:</label>
                                                                      <input type="text" id="lname" name="lname"><br><br>
                                                                      <input type="submit" value="Submit">
                                                            </form>
          
                                                            <p>Click the "Submit" button to complete your application form.</p>
          
                                                  </div>
                                                  <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                      data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary">Submit</button>
                                                  </div>
                                        </div>
                              </div>
                    </div>
          
          </div>
          {{/if}}
          

          {{#if results}}
          <div class='container-fluid bg-dark'>
                    <div class='row'>
                              <div class='col-6'>
                              <h2>Latest Results</h2>
                              </div>
                              <div class='col-6'>
                                        
                                        <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchModal"
          data-bs-whatever="">Find more</button>
          <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                        <div class="modal-header">
                                                  <h5 class="modal-title" id="searchModal">Search results</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                  <form>
                                                            <div class='container-fluid'>
                                                                      <div class='row'>
                                                                                <div class='col'>
                                                                                          <label for="generalQueryBox" class="col-form-label">Search</label>
                                                                                          <input type="text" class="form-control" id="generalQueryBox">
                                                                                </div>
                                                                      </div>

                                                                      <div class='row'>
                                                            {{#each searchParams}}

                                                                     
                                                                      <div id='search-category-container' class='col-md-3'>
                                                                      
                                                            
                                                                                {{!-- <button class="select btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                                                          data-bs-toggle="dropdown" aria-expanded="false">
                                                                                          Category
                                                                                </button> --}}
                                                                                {{!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2"> --}}
                                                                                          <div class="input-group mb-3">
                                                                                                    <div class="input-group-prepend">
                                                                                                              <label class="input-group-text" for="inputGroupSelect01">Category</label>
                                                                                                    </div>
                                                                                                   
                                                                                                              
                                                                                                    
                                                                                          
                                                                                          <select class="custom-select" id="inputGroupSelect01">
                                                                                          {{#each categories}}
                                                                                                    <option value={{.}}type='button' class="dropdown-item">{{.}}</option>
                                                                                          {{/each}}
                                                                                          </select>
                                                                                {{!-- </ul> --}}
                                                                                </div>

                                                                                </div>
                                                                               
                                                                                
                                                                               

                                                                      <div id='search-month-container' class='col-md-3'>
                                                                      
                                                                      
                                                                                
                                                                                <div class="input-group mb-3">
                                                                                          <div class="input-group-prepend">
                                                                                                    <label class="input-group-text" for="inputGroupSelect01">Month</label>
                                                                                          </div>
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                          <select class="custom-select" id="inputGroupSelect01">
                                                                                                    {{#each months}}
                                                                                                    <option value={{.}}type='button' class="dropdown-item">{{.}}</option>
                                                                                                    {{/each}}
                                                                                          </select>
                                                                                          
                                                                                </div>
                                                                                          

                                                                                          
                                                                                         
                                                                                         
                                                                      
                                                                      </div>
                                                                      <div id='search-year-container' class='col-md-3'>
                                                                      
                                                                      
                                                                                <div class="input-group mb-4">
                                                                                          <div class="input-group-prepend">
                                                                                                    <label class="input-group-text" for="inputGroupSelect01">Year</label>
                                                                                          </div>
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                          <select class="custom-select" id="inputGroupSelect01">
                                                                                                    {{#each years}}
                                                                                                    <option value={{.}}type='button' class="dropdown-item">{{.}}</option>
                                                                                                    {{/each}}
                                                                                          </select>
                                                                                
                                                                                </div>
                                                                      </div>
                                                                      <div id='search-event-container' class='col-md-3'>
                                                                      
                                                                      
                                                                                <div class="input-group mb-3">
                                                                                          <div class="input-group-prepend">
                                                                                                    <label class="input-group-text" for="inputGroupSelect01">Types</label>
                                                                                          </div>
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                          <select class="custom-select" id="inputGroupSelect01">
                                                                                                    {{#each types}}
                                                                                                    <option value={{.}}type='button' class="dropdown-item">{{.}}</option>
                                                                                                    {{/each}}
                                                                                          </select>
                                                                                
                                                                                </div>
                                                                      </div>
                                                            {{/each}}

                                                                      </div>
                                                                      <div id='selected-search-params' class='row'>
                                                                                <div class='col-md-3'>
                                                                                          
                                                                                </div>
                                                                      </div>
                                                            </div>
                                                            
                                                  </form>
                                                  </div>
                                                  <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary">Search</button>
                                                  </div>
                                        </div>
                                        
                              </div>
                    </div>
          </div>
                                        
                    
                   
                    
                    </div>
                    {{#each eventList}}
                    <div id='eventList'class='row'>
                              
                              <div id='eventItem' class='col'>
                                        <p>{{resultName}}</p>
                                        
                              </div>
                              <div id='eventItem' class='col'>
                                        <p>{{resultLocation}}</p>
                              </div>
                              <div id='eventItem' class='col'>
                                        <p>{{resultProps}}</p>
                              </div>
                             
                    </div>
                    {{/each}}
          </div>
          </div>
         
          {{/if}}
          
</main>
